# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/
*.dll
*.exe
*.log
*.pdb
*.cache
*.mdb
*.csproj.user
*.dbmdl
*.jfm

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/
.nuget/packages/

# Logs
*.log
*.nlog
*.log4net

# Azure DevOps
.vsts/
.ado/

# Otros archivos innecesarios
TestResults/